<h1>{{ title }}</h1>

<div class="product-list">
  <div *ngFor="let product of produits" class="product-item" (click)="onSelect(product)">
    <h5>{{ product.nom }}</h5>
    <img [src]="product.image" alt="{{ product.nom }}" width="100">
    <h2>{{ product.nom }}: {{ product.prix }}</h2>
    <button *ngIf="product.description" (click)="onDetail(product)">Details</button>
  </div>
</div>

<div class="selected-product" *ngIf="selectedProduit">
  <button class="close-button" (click)="onClose()">X</button>
  <img [src]="selectedProduit.image" alt="{{ selectedProduit.nom }}">
</div>